body {
    font-family: "Verdana", sans-serif;
}

.back-img {
    background-image: url(../img/journey.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}

a {
    text-decoration: none;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.green-link {
    display: inline-block;
    color: #3cb878;
    font-size: 14px;
    line-height: 21px;
    transition: 0.4s;
}

.green-link:hover {
    text-decoration: underline;
}

/*HEADER STARTS*/

.header {
    background-color: rgba(0, 0, 0, 0.41);
    height: 54px;
}

.logo-link {
    display: inline-block;
    margin: 20px 81px;
}

.logo {
    color: #ffffff;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 21px;
}

.logo-link:hover .logo {
    color: #3cb878;
    transition: 0.4s;
}

.menu-right {
    float: right;
    margin: 18px 51px;
}

.menu-right-icons {
    float: left;
    padding: 0 25px;
}

.menu-right-link {
    display: inline-block;
    margin-right: 28px;
}

.menu-right-link:last-child {
    margin-right: 0;
}

.menu-icons-item {
    display: inline-block;
    background-image: url(../img/css_sprites.png);
}

.menu-icons-item.menu-icons-calendar {
    width: 19px;
    height: 19px;
    background-position: -106px -49px;
    transition: 0.4s;
}

.menu-icons-item.menu-icons-calendar:hover {
    background-position: -106px -10px;
    
}

.menu-icons-item.menu-icons-forum {
    width: 28px;
    height: 20px;
    background-position: -10px -10px;
    transition: 0.4s;
}

.menu-icons-item.menu-icons-forum:hover {
    background-position: -58px -10px;
}

.menu-icons-item.menu-icons-journey {
    width: 20px;
    height: 20px;
    background-position: -10px -50px;
    transition: 0.4s;
}

.menu-icons-item.menu-icons-journey:hover {
    background-position: -50px -50px;
}

.right-menu-greeting {
    float: right;
    padding: 0 24px;
    border-left: 1px solid #32302e;
}

.greeting-text {
    display: inline-block;
    color: #ffffff;
}

/*HEADER ENDS*/
/*FORM-SECTION STARTS*/

.form-section {
    margin: 65px 461px;
    box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.52);
    background-color: #fff;
    border-radius: 7px;
}

.form-window-container {
    position: relative;
    padding: 30px 50px;
}

.green-square {
    position: absolute;
    left: 0;
    width: 18px;
    height: 18px;
    background-color: #3cb878;
}

.sign-up {
    float: left;
    color: #434343;
    font-size: 20px;
}

.log-in {
    float: right;
    margin-top: 4px;
}

.sign-up-choise {
    margin-top: 15px;
}

.btn {
    display: inline-block;
    box-sizing: border-box;
    border-radius: 3px;
    width: 157px;
    height: 46px;
    color: #fff;
    font-size: 16px;
    line-height: 21px;
}

.btn-facebook {
    float: left;
    background-color: #305db8;
}

.btn-google {
    float: right;
    background-color: #df4a32;
}

.btn-text {
    display: inline-block;
}

.btn-text-facebook {
    margin-left: 10px;
}

.btn-text-google {
    margin-left: 15px;
}

.fa-facebook-f {
    margin: 9px 3px;
    padding: 4px 17px;
    border-right: 1px solid #2b54a5;
}

.fa-google-plus-g {
    margin: 9px 4px;
    padding: 6px 9px;
    border-right: 1px solid #c8422d;
}

.horizontal-line {
    margin-top: 33px;
    margin-bottom: 18px;
}

.text-or {
    text-align: center;
    color: #848484;
    font-size: 14px;
}

.text-or::before {
    content: "";
    display: inline-block;
    width: 135px;
    height: 1px;
    margin-right: 19px;
    margin-bottom: 4px;
    background-color: #eaeaea;
}

.text-or::after {
    content: "";
    display: inline-block;
    width: 135px;
    height: 1px;
    margin-left: 19px;
    margin-bottom: 4px;
    background-color: #eaeaea;
}

/*FORM-FIELD STARTS*/

.form-field {
    width: 100%;
    box-sizing: border-box;
    margin-top: 9px;
    border-radius: 3px;
    border: 1px solid #eaeaea;
}

.form-field:focus {
    box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.21);
    color: #434343;
}

.form-field[type="text"] {
    padding: 18px 19px;
    font-size: 14px;
}

.form-field::-webkit-input-placeholder {
    color: #bebebe;
}

.form-field::-moz-placeholder {
    color: #bebebe;
}

.form-field:-moz-placeholder {
    color: #bebebe;
}

.form-field:-ms-input-placeholder {
    color: #bebebe;
}

.label {
    display: block;
    position: relative;
    height: 22px;
    margin-top: 19px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.checkbox {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkbox-custom {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    border: 1px solid #eaeaea;
    border-radius: 3px;
}

.checkbox-custom:after {
    content: "";
    position: absolute;
    display: none;
}

.checkbox:checked ~ .checkbox-custom:after {
    display: block;
}

.label .checkbox-custom:after {
    left: 7px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid #3cb878;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.checkbox-text {
    position: absolute;
    left: 30px;
    color: #434343;
    font-size: 14px;
    display: inline-block;
}

.submit-text {
    margin-top: 29px;
    width: 100%;
    box-sizing: border-box;
    color: #ffffff;
    font-size: 16px;
    background-color: #3cb878;
    border: none;
    border-radius: 3px;
    padding: 17px 100px;
}

/*FORM-FIELD ENDS*/
/*FORM-SECTION ENDS*/